<div class="products-page">
    <div class="header-product-section" style=" background-image: url('./assets/images/Products/image-10.png')">
        <h1 class="product-title-header">Select Your Coffee</h1>
    </div>
    <div class="all-coffees-section">
        <h2>ALL COFFEES</h2>
        <div class="blurbs-coffees">
            <div class="blurb-product">
                <img src="./assets/images/Products/Ellipse-1.svg" alt="ellipse-1">
                <h3>Sumatra mandheling</h3>
                <p class="price">$18.50 – $87.50 10%</p>
                <p class="ingredients">Milk Chocolate, Blueberry, Brown Sugar</p>
            </div>
            <div class="blurb-product">
                <img src="./assets/images/Products/Ellipse-1.svg" alt="ellipse-1">
                <h3>Sumatra mandheling</h3>
                <p class="price">$18.50 – $87.50 10%</p>
                <p class="ingredients">Milk Chocolate, Blueberry, Brown Sugar</p>
            </div>
            <div class="blurb-product">
                <img src="./assets/images/Products/Ellipse-1.svg" alt="ellipse-1">
                <h3>Sumatra mandheling</h3>
                <p class="price">$18.50 – $87.50 10%</p>
                <p class="ingredients">Milk Chocolate, Blueberry, Brown Sugar</p>
            </div>
            <div class="blurb-product">
                <img src="./assets/images/Products/Ellipse-1.svg" alt="ellipse-1">
                <h3>Sumatra mandheling</h3>
                <p class="price">$18.50 – $87.50 10%</p>
                <p class="ingredients">Milk Chocolate, Blueberry, Brown Sugar</p>
            </div>
        </div>
    </div>
</div>